* {
    padding: 0;
    margin: 0;
    font-family: 'BenchNine', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.todoList {
    position: absolute;
    left: 50%;
    top: 20vh;
    width: 30%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    max-height: 550px;
    background-color: blanchedalmond;
    padding: 10px 10px;
    min-width: 250px;
}

@media only screen and (max-width: 600px){
    .todoList {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    .todoList {
        width: 50%;
    }
}

.empty-list-message {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.list-display {
    list-style: none;
    margin-top: 15px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    align-items: center;
    max-width: 100%;
    min-height: 1.5rem;
    border-bottom: 1px dashed lightgrey;
}

.list-item-text {
    word-wrap: break-word;
    max-width: 80%;
    cursor: pointer;
}

.remove-button {
    background-color: tomato;
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid grey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.crossed-out-item {
    text-decoration-line: line-through;
}

.input-field {
    height: 2rem;
}

.add-item-button {
    background-color: lightskyblue;
    margin-top: 5px;
    padding: 5px 5px;
}

.list-animation-enter {
    opacity: 0;
}

.list-animation-enter-active {
    animation: slideIn 1s ease-out forwards;
    transition: opacity 1s;
}

.list-animation-leave-active {
    position: absolute;
    opacity: 0;
}

.list-animation-move {
    transition: all 0.5s;
}

@keyframes slideIn {
    from {
        transform: translateY(50px)
    }

    to {
        transform: translateY(0)
    }
}

.wip-text {
    position: absolute;
    left: 50vw;
    padding: 3px 10px;
    transform: translateX(-50%);
    font-size: 1.5em;
    background-color: #db3d5f;
    text-align: center;
    border-radius: 5px;
}